# Revising the Select Query I
<a>Task</a> : Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.

The CITY table is described as follows:
<image src="images/city_table.jpg" width = "300"/>

In [ ]:
select *
from city
where population > 100000 and countrycode = "USA"

# Revising the Select Query II
<a>Task</a> : Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.

In [ ]:
select name
from city
where population > 120000 and countrycode = "USA"

# Select All
<a>Task</a> : Query all columns (attributes) for every row in the CITY table.

In [ ]:
select * 
from city

# Select By ID
<a>Task</a> : Query all columns for a city in CITY with the ID 1661.

In [ ]:
select *
from city
where id = 1661

# Japanese Cities' Attributes
<a>Task</a> : Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

In [ ]:
select *
from city 
where countrycode = "JPN"

# Japanese Cities' Names
<a>Task</a> : Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

In [ ]:
select name
from city
where countrycode = "JPN"

# Weather Observation Station 1
<a>Task</a> : Query a list of CITY and STATE from the STATION table.

The STATION table is described as follows:
<image src="images/station_table.jpg" width = "300"/>

In [ ]:
select city, state
from station

# Weather Observation Station 3
<a>Task</a> : Query a list of CITY names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer.

In [ ]:
select distinct city
from station
where id%2 = 0

# Weather Observation Station 4
<a>Task</a> : Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [ ]:
select count(city) - count(distinct city)
from station

# Weather Observation Station 5
<a>Task</a> : Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

In [ ]:
select city, length(city) from station
order by length(city), city asc
limit 1;

select city, length(city) from station
order by length(city) desc
limit 1;

# Weather Observation Station 6
<a>Task</a> : Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where left(city,1) in ('A','I','E','O','U');

# Weather Observation Station 7
<a>Task</a> : Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where right(city,1) in ('a','i','e','o','u');

# Weather Observation Station 8
<a>Task</a> : Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where right(city,1) in ('a','i','e','o','u') and left(city,1) in ('A','I','E','O','U');

# Weather Observation Station 9
<a>Task</a> : Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where left(city,1) not in ('A','I','E','O','U');

# Weather Observation Station 10
<a>Task</a> : Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where right(city,1) not in ('a','i','e','o','u');

# Weather Observation Station 11
<a>Task</a> : Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where right(city,1) not in ('a','i','e','o','u') or left(city,1) not in ('A','I','E','O','U');

# Weather Observation Station 12
<a>Task</a> : Query the list of CITY names from STATION that do not start with vowels and do not end with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where right(city,1) not in ('a','i','e','o','u') and left(city,1) not in ('A','I','E','O','U');

# Higher Than 75 Marks
<a>Task</a> : Query the Name of any student in STUDENTS who scored higher than <em>75</em> Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

The STUDENTS table is described as follows:
<image src="images/student_table.jpg" width = "300"/>

In [ ]:
select name from students where marks > 75 order by right(name,3), id asc;

# Employee Names
<a>Task</a> : Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order.

The Employee table containing employee data for a company is described as follows:
<image src="images/employee_table.jpg" width = "200"/>

In [ ]:
select name from employee order by name;

# Employee Salaries
<a>Task</a> : Write a query that prints a list of employee names (i.e.: the name attribute) for employees in Employee having a salary greater than <em>$2000</em> per month who have been employees for less than <em>10</em> months. Sort your result by ascending employee_id.

In [ ]:
select name from employee where salary > 2000 and months < 10 order by employee_id;

# The PADS
<a>Task</a> : Generate the following two result sets:

<li>Query an alphabetically ordered list of all names in OCCUPATIONS, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S).</li>
<li>Query the number of ocurrences of each occupation in OCCUPATIONS. Sort the occurrences in ascending order, and output them in the following format:</li>

There are a total of [occupation_count] [occupation]s.

where [occupation_count] is the number of occurrences of an occupation in OCCUPATIONS and [occupation] is the lowercase occupation name. If more than one Occupation has the same [occupation_count], they should be ordered alphabetically.

The OCCUPATIONS table is described as follows:
<image src="images/occupations_table.jpg" width = "200"/>

In [ ]:
select concat(name, '(', left(occupation,1),')') from occupations order by name; 
select "There are a total of", count(occupation), concat(lower(occupation),"s.") from occupations group by occupation order by count(occupation) asc, occupation asc;

# Occupations
<a>Task</a> : Pivot the Occupation column in OCCUPATIONS so that each Name is sorted alphabetically and displayed underneath its corresponding Occupation. The output column headers should be Doctor, Professor, Singer, and Actor, respectively.

Note: Print NULL when there are no more names corresponding to an occupation.

In [ ]:
--not my own, but what a perfect solution
set @r1=0, @r2=0, @r3=0, @r4=0;
select min(Doctor), min(Professor), min(Singer), min(Actor)
from(
  select case when Occupation='Doctor' then (@r1:=@r1+1)
            when Occupation='Professor' then (@r2:=@r2+1)
            when Occupation='Singer' then (@r3:=@r3+1)
            when Occupation='Actor' then (@r4:=@r4+1) end as RowNumber,
    case when Occupation='Doctor' then Name end as Doctor,
    case when Occupation='Professor' then Name end as Professor,
    case when Occupation='Singer' then Name end as Singer,
    case when Occupation='Actor' then Name end as Actor
  from OCCUPATIONS
  order by Name
    ) temp
group by RowNumber;

# Binary Tree Nodes
<a>Task</a> : You are given a table, BST, containing two columns: N and P, where N represents the value of a node in Binary Tree, and P is the parent of N. 

Write a query to find the node type of Binary Tree ordered by the value of the node. Output one of the following for each node:

<li>Root: If node is root node.</li>
<li>Leaf: If node is leaf node.</li>
<li>Inner: If node is neither root nor leaf node. </li>